@import 'designParameters';

body{
    font-family: $font;
    overflow-x: hidden;
    .background{
        background-color:$principalRed;
        background: url("images/background.png") no-repeat center;
        background-attachment: cover;
        height: 200vh;
        width:100%;
        .navbar {
            position: fixed;
            width: 100%;
            transition: background-color 0.5s ease;
            background: transparent;
            height: 10vh;
            z-index: 1000000;
            .logo{
                img {
                    height: 10vh;
                }
            }
            .signup-btn {
                padding-top: 0.5vh;
                font-size: 1.2vw;
                border-radius: 5000px;
                background-color:$principalDarkBlue;
                @include center;
                p {
                    color: white;
                    margin: 0 0 0 0;
                }
                margin-right: 2vw;
            }
            .nav-btn {
                @include center;
                padding-top: 2vh;
                font-size: 2.3vh;
                padding-right: 2vw;
                p{
                  font-size: 1.2vw;
                  color:white;
                }
                &.doc {
                    padding-right: 3vw;
                }
                margin-right: 0vw;
            }
            &.hidden{
              transition: background-color 0.5s ease;
              background: #FFFFFF;

              .signup-btn {
                transition: all 0.5s ease;
                background-color: $principalRed;
                  p {
                    transition: color 0.5s ease;
                    color: white;
                  }
              }
              .nav-btn {
                  p{
                    transition: color 0.5s ease;
                    color: $principalGrey;
                  }
              }
            }
        }
        .intro {
            padding-top: 12vh;
            height: 100vh;
            .data-intro{
                padding-top: 5vh;
                padding-right: 10vh;
                padding-left: 3vh;
                .intro-text{
                    font-size: 1.5vw;
                    h1{
                        text-align: center;
                    }
                    line-height: 6vh;
                    padding: 3vw 4vw 3vw 3vw;
                    p{
                        padding-top: 2vh;
                        padding-left: 1vw;
                    }
                }

                .title {
                    color: $principalRed;
                }

                .text {
                    @include center;
                }
                .button-container{
                    @include center;
                    .start-btn {
                        margin-right: 4vw;
                        padding-top: 0.5vh;
                        font-size: 3.5vh;
                        border-radius: 5000px;
                        background-color: $principalRed;
                        p {
                          font-size: 1.5vw;
                          color: white;
                          margin: 0 0 0 0;
                        }
                    }
                    .demo-btn {
                        padding-top: 0.5vh;
                        font-size: 3.5vh;
                        border-radius: 5000px;
                        background-color: $principalDarkBlue;
                        p{
                          font-size: 1.5vw;
                          color: white;
                          margin: 0 0 0 0;
                        }
                    }
                }
            }
            .carrousel {
              height: 80vh;
                @include center;
                .carrousel-image{
                    height: 75vh;
                }
            }
        }
        .features-section{
            height: 100vh;
            margin-left: 16vh;
            .title{
              margin-top: 10vh;
                h1 {
                  color: $principalRed;
                  text-align: left;
                  font-size: 2.2vw;
                }
            }
            .features {
                margin-left: 5vh;
                margin-top: 0vh;
                font-size: 1.5vw;
                line-height: 10vh;
                .point{
                  display: flex;
                  align-items: center;
                  .fas{
                    color: $principalRed;
                  }
                  p{
                    padding-left: 1vw;
                    padding-top: 2vh;
                  }
                }
            }
        }

    }
    .features-buttons{
        .buttons-container{
            @include center;
            margin-bottom: 6vh;
            margin-top: 6vh;
            .start{
                margin-right: 5vh;
                font-size: 1.5vw;
                border-radius: 5000px;
                background-color: $principalRed;
                p {
                    color: white;
                    margin: 0 0 0 0;
                }
            }
            .demo{
                font-size: 1.5vw;
                border-radius: 5000px;
                background-color: $principalDarkBlue;
                p{
                    color: white;
                    margin: 0 0 0 0;
                }
            }
        }
    }
    .tutorial{
        background-image: linear-gradient(#FAFAFA, #FFFFFF);
        .information{
            padding-top: 14vh;
            padding-bottom: 14vh;
            .tutorial-img {
                @include center;
            }
        }
        .text{
            padding-left: 20vh;
            line-height: 15vh;
            font-size: 1.6vw;
            .point{
                display: flex;
                align-items: center;
                .num{
                    @include center;
                    background-color: $principalRed;
                    border-radius: 100%;
                    height: 3vw;
                    width: 3vw;
                    color: white;
                    p{
                      font-size: 1.2vw;
                    }
                }
                .point-text{
                    padding-left: 1vw;
                }
                p{
                  padding-top: 2vh;
                }
              }
        }
    }
    .footnote{
      .logo{
        padding-top: 5vh;
        img{
          height: 10vh;
        }
      }
      .footer{
        .footnote-data{
          display: none;
        }
        @media only screen and (min-width: 1024px){
          .footnote-data{
            display: block;
            h5{
              color: $principalGrey;
            }
            p{
              color: lighten($principalGrey, 50%);
            }
            hr{
              height: .1vh;
              background-color: $principalRed;
            }
          }
        }
      }
    }
}


.footnote{
    background-color: #FAFAFA;
    .row {
        padding: 2vh;
        @include center;
    }
    .logo {
        @include center;
      }
      .footer {
        @include center;
        .footnote-data {
            height: 20vh;
          }
      }
}
