@charset "UTF-8";
/*------- Guía de Estilos para Sass ------*/
/*------------ 1.- Colores ---------------*/
/*----------------------------------------*/
/*---------- 2.- Tipografías -------------*/
/*----------------------------------------*/
/*------------- 2.- Mixins ---------------*/
/*----------------------------------------*/
body {
  font-family: "ProximaNova-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
body .background {
  background-color: #e93d44;
  background: url("images/background.png") no-repeat center;
  background-attachment: cover;
  height: 200vh;
  width: 100%;
}
body .background .navbar {
  position: fixed;
  width: 100%;
  transition: background-color 0.5s ease;
  background: transparent;
  height: 10vh;
  z-index: 1000000;
}
body .background .navbar .logo img {
  height: 10vh;
}
body .background .navbar .signup-btn {
  padding-top: 0.5vh;
  font-size: 1.2vw;
  border-radius: 5000px;
  background-color: #11333e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
body .background .navbar .signup-btn p {
  color: white;
  margin: 0 0 0 0;
}
body .background .navbar .nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  font-size: 2.3vh;
  padding-right: 2vw;
  margin-right: 0vw;
}
body .background .navbar .nav-btn p {
  font-size: 1.2vw;
  color: white;
}
body .background .navbar .nav-btn.doc {
  padding-right: 3vw;
}
body .background .navbar.hidden {
  transition: background-color 0.5s ease;
  background: #FFFFFF;
}
body .background .navbar.hidden .signup-btn {
  transition: all 0.5s ease;
  background-color: #e93d44;
}
body .background .navbar.hidden .signup-btn p {
  transition: color 0.5s ease;
  color: white;
}
body .background .navbar.hidden .nav-btn p {
  transition: color 0.5s ease;
  color: #262E30;
}
body .background .intro {
  padding-top: 12vh;
  height: 100vh;
}
body .background .intro .data-intro {
  padding-top: 5vh;
  padding-right: 10vh;
  padding-left: 3vh;
}
body .background .intro .data-intro .intro-text {
  font-size: 1.5vw;
  line-height: 6vh;
  padding: 3vw 4vw 3vw 3vw;
}
body .background .intro .data-intro .intro-text h1 {
  text-align: center;
}
body .background .intro .data-intro .intro-text p {
  padding-top: 2vh;
  padding-left: 1vw;
}
body .background .intro .data-intro .title {
  color: #e93d44;
}
body .background .intro .data-intro .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .background .intro .data-intro .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .background .intro .data-intro .button-container .start-btn {
  margin-right: 4vw;
  padding-top: 0.5vh;
  font-size: 3.5vh;
  border-radius: 5000px;
  background-color: #e93d44;
}
body .background .intro .data-intro .button-container .start-btn p {
  font-size: 1.5vw;
  color: white;
  margin: 0 0 0 0;
}
body .background .intro .data-intro .button-container .demo-btn {
  padding-top: 0.5vh;
  font-size: 3.5vh;
  border-radius: 5000px;
  background-color: #11333e;
}
body .background .intro .data-intro .button-container .demo-btn p {
  font-size: 1.5vw;
  color: white;
  margin: 0 0 0 0;
}
body .background .intro .carrousel {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .background .intro .carrousel .carrousel-image {
  height: 75vh;
}
body .background .features-section {
  height: 100vh;
  margin-left: 16vh;
}
body .background .features-section .title {
  margin-top: 10vh;
}
body .background .features-section .title h1 {
  color: #e93d44;
  text-align: left;
  font-size: 2.2vw;
}
body .background .features-section .features {
  margin-left: 5vh;
  margin-top: 0vh;
  font-size: 1.5vw;
  line-height: 10vh;
}
body .background .features-section .features .point {
  display: flex;
  align-items: center;
}
body .background .features-section .features .point .fas {
  color: #e93d44;
}
body .background .features-section .features .point p {
  padding-left: 1vw;
  padding-top: 2vh;
}
body .features-buttons .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vh;
  margin-top: 6vh;
}
body .features-buttons .buttons-container .start {
  margin-right: 5vh;
  font-size: 1.5vw;
  border-radius: 5000px;
  background-color: #e93d44;
}
body .features-buttons .buttons-container .start p {
  color: white;
  margin: 0 0 0 0;
}
body .features-buttons .buttons-container .demo {
  font-size: 1.5vw;
  border-radius: 5000px;
  background-color: #11333e;
}
body .features-buttons .buttons-container .demo p {
  color: white;
  margin: 0 0 0 0;
}
body .tutorial {
  background-image: linear-gradient(#FAFAFA, #FFFFFF);
}
body .tutorial .information {
  padding-top: 14vh;
  padding-bottom: 14vh;
}
body .tutorial .information .tutorial-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .tutorial .text {
  padding-left: 20vh;
  line-height: 15vh;
  font-size: 1.6vw;
}
body .tutorial .text .point {
  display: flex;
  align-items: center;
}
body .tutorial .text .point .num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e93d44;
  border-radius: 100%;
  height: 3vw;
  width: 3vw;
  color: white;
}
body .tutorial .text .point .num p {
  font-size: 1.2vw;
}
body .tutorial .text .point .point-text {
  padding-left: 1vw;
}
body .tutorial .text .point p {
  padding-top: 2vh;
}
body .footnote .logo {
  padding-top: 5vh;
}
body .footnote .logo img {
  height: 10vh;
}
body .footnote .footer .footnote-data {
  display: none;
}
@media only screen and (min-width: 1024px) {
  body .footnote .footer .footnote-data {
    display: block;
  }
  body .footnote .footer .footnote-data h5 {
    color: #262E30;
  }
  body .footnote .footer .footnote-data p {
    color: #a1b0b4;
  }
  body .footnote .footer .footnote-data hr {
    height: 0.1vh;
    background-color: #e93d44;
  }
}

.footnote {
  background-color: #FAFAFA;
}
.footnote .row {
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footnote .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footnote .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footnote .footer .footnote-data {
  height: 20vh;
}

/*# sourceMappingURL=style.css.map */
